// header and footer

@header-height: 48px;
@footer-height: 96px;

.header-title {
  color: rgba(255, 255, 255);
  line-height: @header-height;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.header-row {
  height: @header-height;
}

.header-col {
  height: @header-height;
}

.nav-menu {
  line-height: @header-height;
  text-align: end;
}

.header {
  height: @header-height;
}

.footer {
  text-align: center;
  height: @footer-height;
}

.footer-buttons {
  padding: 8px
}

// content

@content-padding: 24px;
@section-padding: 64px;

.section-content {
  padding: 0 @section-padding;
}

.section-divider {
  font-size: 24px;
}

@media only screen and (max-width: 1100px) {
  .section-content {
    padding: 0 @section-padding - 48px;
  }
}

.content-wrapper {
  min-height: 100vh;
  margin-top: -@header-height;
  margin-bottom: -@footer-height;
  padding-top: @header-height;
  padding-bottom: @footer-height;
}

.section-card {
  margin: 0 @content-padding/2 @content-padding;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ant-card-contain-grid:not(.ant-card-loading) .ant-card-meta {
  padding: @content-padding;
}

.ant-card-grid {
  position: relative;
  padding: 0;
  height: 64px;
  width: 50%;
}

.ant-card-grid div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.tim-on-rock {
  /* Full height */
  height: calc(100vh - @header-height);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.where {
  font-size: 30px;
  font-weight: 700;
  color: rgba(0, 0, 0);
}

.what {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.when {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.45)
}

.aws-cert-badge-wrapper {
  text-align: center;
}

.aws-cert-badge {
  max-width: 256px;
  width: 100%;
}

// home stuff

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home-text {
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.home-text-top {
  padding-top: 24px;
  font-size: 80px;
}

.home-text-hi {
  opacity: 0;
  animation: fadeIn 1s forwards 1s;
  -ms-animation: fadeIn 1s forwards 1s;
  -webkit-animation: fadeIn 1s forwards 1s;
}

.home-text-im {
  opacity: 0;
  animation: fadeIn 1s forwards 2.5s;
  -ms-animation: fadeIn 1s forwards 2.5s;
  -webkit-animation: fadeIn 1s forwards 2.5s;
}

.home-text-tim {
  opacity: 0;
  animation: fadeIn 1s forwards 3s;
  -ms-animation: fadeIn 1s forwards 3s;
  -webkit-animation: fadeIn 1s forwards 3s;
}

@keyframes fadeEffect {
	0% { opacity: 0; }
	6% { opacity: 0; }
	9% { opacity: 1; }
	26% { opacity: 1; }
	29% { opacity: 0; }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

.tim-descriptor{
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%);
}
.tim-descriptors span{
	animation: fadeEffect 10s linear infinite 3.5s;
	-ms-animation: fadeEffect 10s linear infinite 3.5s;
	-webkit-animation: fadeEffect 10s linear infinite 3.5s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.tim-descriptors span:nth-child(2){
	animation-delay: 6s;
	-ms-animation-delay: 6s;
	-webkit-animation-delay: 6s;
}
.tim-descriptors span:nth-child(3){
	animation-delay: 8.5s;
	-ms-animation-delay: 8.5s;
	-webkit-animation-delay: 8.5s;
}
.tim-descriptors span:nth-child(4){
	animation-delay: 11s;
	-ms-animation-delay: 11s;
	-webkit-animation-delay: 11s;
}
